#App {
  background-color: gold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  gap: 10px;
}

#heading {
  text-align: center;
  margin: 0;
}

#break,#session{
  text-align: center;
}

#timer {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 30px;
  
  margin: 10px;
  text-align: center;
}

#session-length, #break-length {
  color: black;
}

#time-left {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
}

#container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.control {
  width: 30px;
  height: 20px;
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.control1 {
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}